body {
  background-color: lightgrey;
  margin: 0;
}

.top-nav {
  background-color: purple;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 20px
}

.left-links a {
  padding-right: 15px
}

.right-links a {
  padding-left: 15px;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  padding-left: 2vw;
  padding-right: 2vw;
  align-items: center;
}

.search {
  width: 50%;
  padding: 5px;
}

.financing-button{
  padding: 10px;
  background-color: red;
  color: white;
  cursor: pointer;
}

.financing-button:hover {
  background-color: darkred;
}